<!DOCTYPE html>
<html>
<head>
  <title>Doggiedaycare</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container">
<%= link_to fa_icon("home", text: "Home"), root_path %>
<%= link_to fa_icon("info", text: "About"), about_path %>
<%= link_to "Dogs", dogs_path %>
<%= link_to 'Owners', owners_path %>

<% if alert.present? %>
<div class="alert alert-success" role="alert">
  <%= alert %>
</div>
<% end %>
<%= yield %>
</div>

</body>
</html>
