<div class='well'>
<%= form_for @dog do |dog_fields| %>
  <div class='form-group'>
  <%= dog_fields.label :name %>
  <%= dog_fields.text_field :name, class: "form-control", placeholder: 'Fido' %><br>
  </div>
  <div class='form-group'>
  <%= dog_fields.label :breed %>
  <%= dog_fields.text_field :breed, class: "form-control", placeholder: 'Terrier' %><br>
</div>
<div class='form-group'>
  <%= dog_fields.label :age %>
  <%= dog_fields.number_field :age, class: "form-control", placeholder: '5' %><br>
</div>
<div class='form-group'>
  <%= dog_fields.label :owner_id %>
  <%= dog_fields.collection_select :owner_id, Owner.all, :id, :name, {prompt: "Select an owner"}, {class: "form-control"} %><br>
</div>

  <%= dog_fields.submit class: 'btn btn-primary btn-block' %>
  <% end %>
</div>