<h1>Details for <%= @dog.name %></h1>

<p>
<strong>ID:</strong> <%= @dog.id %>
</p>
 <p>
<strong>Breed:</strong> <%= @dog.breed %>
 </p>
<p>
<strong>Age:</strong> <%= @dog.age %>
</p>

<p>
<strong>Owner:</strong> <%= @dog.owner %>
</p>

<p>
<%= link_to "Edit", edit_dog_path %>
</p>

<p>
<%= link_to "Delete", @dog.destroy %>
</p>